@import './reset.css';

@import './Modals/infoBlock';
@import './Modals/countryDetail';
@import './Modals/sidebar';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: 'Airbnb Cereal App Book', Arial, Helvetica, sans-serif;
}

.body {
  height: 100vh;
  display: flex;

  .main {
    .error__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100vw - 36rem);
      height: 100vh;

      .error__text {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 1040px) {
  .body {
    flex-direction: column;

    .sidebar {
      padding: 5rem 0 3rem 0;
      width: 100vw;
      display: flex;
      justify-content: center;

      .sidebar__form {
        .sidebar__form--input {
          width: 23rem;
        }

        .sidebar__form--suggestions {
          width: 23rem;
        }
      }
    }

    .main {
      .error__wrapper {
        margin-top: 3rem;
        width: 100%;
        align-items: flex-start;
      }

      .detail {
        width: 100%;
        padding: 4rem 2rem 0 2rem;

        .detail__info {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;

          .detail__info--item {
            margin: 0 0 2rem 0;
          }
        }

        .detail-w {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .detail__img {
            width: 100%;
          }

          .detail__wrapper {
            margin: 2rem 0 0 0;
            padding: 0;

            .detail__wrapper--title {
              font-size: 3.6rem;
              font-family: 'Airbnb Cereal App Medium';
            }

            .detail__wrapper--info {
              display: flex;
              margin-top: 1rem;

              .detail__wrapper--info--item {
                padding: 1rem;
                background-color: rgb(231, 230, 230);
                margin-right: 1rem;
                border-radius: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
